body {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    background-color: #9DBEBB;
    margin: auto
}

* {
    color: #FEFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}

input {
    display: flex;
    background: transparent;
    border: none;
    border-bottom: 1px solid #9DBEBB;
}

label {
    display: flex;
}

textarea {
    resize: none;
    background: none;
    border: none;
    border-bottom: 1px solid #9DBEBB;
}

.duckform {
    transform: translate(64px, 65px);
}

::placeholder {
    color: rgb(255, 255, 255);
}

.box {
    margin-top: 154px;
    min-height: 594px;
    width: 100%;
    background: linear-gradient(to right,
            #BE0909 0%,
            #BE0909 56%,
            #FFB039 20%,
            #FFB039 50%)
}

.send-message {
    width: 202px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #468189;
    transition-duration: 0.4s;

}

.send-message:hover {
    background-color: #5aa7b1;
    color: white;
}

.rubberduck {
    position: absolute;
    transform: translate(45%, -60%)
}